.margin-top {
  margin-top: 20px;
}

.basic-multi-select__multi-value {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .select__multi-value__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .filter-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
}

.filter-option {
    flex: 1 0 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-input{
  max-width: 300px;
  flex: 1;
}

.filter-accordion {
  max-width: 300px; /* You can adjust this value */
  flex: 1;
}

.esg-link {
  display: inline-block;
  margin: 5px 0 5px 10px; /* Added margin to the left */
  color: #3498db; /* You can choose a softer color */
  text-decoration: none;
}

.esg-link i {
  margin-right: 5px;
  font-size: 0.8em; /* Making the icon a bit smaller */
}

.esg-link:hover {
  text-decoration: underline;
}

.results-count {
  font-weight: bold;
  font-size: 18px;
  color: #4C8BF5;
  border: 1px solid #4C8BF5;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;  
}