<!DOCTYPE html>
<html>
<head>
    <title>Interactive Word Cloud</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <style>
        .word {
            cursor: default;
            transition: opacity 0.3s;
        }
        .word:hover {
            opacity: 0.5;
        }
        .tooltip {
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            color: #fff;
            padding: 3px 8px;
            border-radius: 4px;
            pointer-events: none;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div>
        <select id="word-category" onchange="loadWordCloud()">
            <option value="environmental">Environmental Words</option>
            <option value="social">Social Words</option>
            <option value="governance">Governmental Words</option>
        </select>
    </div>
    <div id="word-cloud"></div>
    <div id="tooltip" class="tooltip" style="opacity: 0;"></div>
    <script>
        function loadWordCloud(){
            var wordCategory = document.getElementById('word-category').value;
            var endpoint = "http://127.0.0.1:8000/word-cloud/" + wordCategory;

            d3.json(endpoint).then(function(words) {
            // convert JSON to array of {word, frequency} objects
            var data = Object.entries(words).map(([word, frequency]) => ({word, frequency}));
            var width = 950;
            var height = 750;
            
            // set color scale
            var color = d3.scaleLinear().domain([0, d3.max(data, d => d.frequency)])
                          .range(["#87CEEB", "#0000FF"]);
                          var fontSize = d3.scalePow().exponent(0.5).domain([0, d3.max(data, d => d.frequency)]).range([10,100]);
                          var layout = d3.layout.cloud().size([width, height]).words(data).padding(7).rotate(() => Math.round(Math.random()) * 90).font("Impact").fontSize(d => fontSize(d.frequency)).on("end", draw);
                          layout.start();
                         
            function draw(words) {
                d3.select("#word-cloud").html("").append("svg")
                  .attr("width", layout.size()[0])
                  .attr("height", layout.size()[1])
                  .append("g")
                  .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")  
                  .selectAll("text")
                  .data(words)
                  .enter().append("text")
                  .style("font-size", d => d.size + "px")
                  .style("font-family", "Impact")
                  .style("fill", d => color(d.frequency))
                  .attr("text-anchor", "middle")
                  .attr("transform", d => "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")")
                  .text(d => d.word)
                  .on("mouseover", mouseover)
                  .on("mouseout", mouseout)
                  .attr("class", "word");     
            }

            function mouseover(d) {
                var totalWords = d3.sum(data, d => d.frequency);
                var percentage = (d.frequency / totalWords * 100).toFixed(2);
                var [x, y] = d3.mouse(this);
                d3.select(this)
                .transition()
                .duration(300)
                .style("font-size", (d.size + 5) + "px")
                .style("fill", d => d3.rgb(color(d.frequency)).darker(0)); // Darken color on hover
                d3.select("#tooltip").style("opacity", 1)
                .html(d.word + ": " + d.frequency + " (" + percentage + "%)");
            }

            function mouseout(d) {
                d3.select(this)
                  .transition()
                  .duration(300)
                  .style("font-size", d.size + "px")
                  .style("fill", d => color(d.frequency)) // Reset color on mouseout
                d3.select("#tooltip").style("opacity", 0);
            }
        });
    } 
        loadWordCloud();
    </script>
</body>
</html>